fastapi
uvicorn[standard]
sqlalchemy
python-jose[cryptography]
passlib[bcrypt]
bcrypt<5
python-multipart
pydantic[email]
email-validator
pydantic-settings
python-dotenv
httpx
aiosqlite
asyncpg
greenlet
